numpy==1.19.5
opencv-contrib-python==4.5.4.58
keras==2.6.0
Keras-Preprocessing==1.1.2
streamlit==1.1.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.1
tensorflow-estimator==2.6.0
